{% extends 'app/base.html' %}

{% block content %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{#    text box to enter new entries #}
    <form action="" method="post">
        {% csrf_token %}

        <div class="form-group">
            {{ form.entry_name.label_tag }}
            <input type="text" class="form-control" id="{{ form.entry_name.id_for_label }}" name="{{ form.entry_name.html_name }}">
            <small id="{{ form.entry_name.id_for_label }}Help" class="form-text text-muted">This can be anything you want to track: An activity, food, how you slept, stress level, etc.</small>
            <div id="{{ form.entry_name.id_for_label }}Feedback" class="invalid-feedback">{{ form.entry_name.errors }}</div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


{# show previously tracked entries #}
    <ul>
    {% for day, entries in entry_dict.items %}
        <li>{{ day }}</li>
        <ul>
            {% for e in entries %}
                <li>{{ e.name }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
    </ul>

{% endblock %}
